{{#get "posts" include="tags" filter="tag:partners" as |partnerinfo|}}
<div class="container py-5">
    {{#foreach partnerinfo}}
        <h1 class="text-center mb-5">{{title}}</h1>
        <div class="mb-5"  data-aos="fade-left">{{content}}</div>
    {{/foreach}}
{{#get "posts" include="tags" filter="tag:gold" as |gpartners|}}
            <h2 class="text-center mb-5">Guldpartners</h2>
            <ul class="nav  justify-content-center">
        {{#foreach gpartners}}
        {{> "partner"}}
        {{/foreach}}
    </ul>
{{else}}
{{/get}}
{{#get "posts" include="tags" filter="tag:silver" as |spartners|}}
            <h2 class="text-center mb-5">Silverpartners</h2>
            <ul class="nav  justify-content-center">
        {{#foreach spartners}}
        {{> partner}}
        {{/foreach}}
    </ul>
{{else}}
{{/get}}
{{#get "posts" include="tags" filter="tag:bronze" as |bpartners|}}
            <h2 class="text-center mb-5">Bronspartners</h2>
            <ul class="nav  justify-content-center">
        {{#foreach bpartners}}
        {{> partner}}
        {{/foreach}}
    </ul>
{{else}}
{{/get}}

</div>

{{else}}
{{/get}}

