{{#get "posts" include="tags" filter="tag:partners" as |partnerinfo|}}
<div class="container py-5">
    {{#foreach partnerinfo}}
        <h1 class="text-center mb-5">{{title}}</h1>
        <div class="mb-5"  data-aos="fade-left">{{content}}</div>
    {{/foreach}}
{{#get "posts" include="tags" filter="tag:partner+tag:gold" as |partners|}}
            <h2 class="text-center mb-5">Guld</h2>
            <ul class="nav  justify-content-center">
        {{#foreach partners}}
        <li class="nav-item d-flex align-items-center {{primary_tag.name}}" style="max-width: 192px;">
            <img src="{{img_url feature_image}}" alt="{{title}}" class="img-fluid nav-link" style="max-height: 96px;" />
        </li>
        {{/foreach}}
    </ul>
{{/get}}
{{#get "posts" include="tags" filter="tag:partner+tag:silver" as |partners|}}
            <h2 class="text-center mb-5">Silver</h2>
            <ul class="nav  justify-content-center">
        {{#foreach partners}}
        <li class="nav-item d-flex align-items-center {{primary_tag.name}}" style="max-width: 192px;">
            <img src="{{img_url feature_image}}" alt="{{title}}" class="img-fluid nav-link" style="max-height: 96px;" />
        </li>
        {{/foreach}}
    </ul>
{{/get}}
{{#get "posts" include="tags" filter="tag:partner+tag:bronze" as |partners|}}
            <h2 class="text-center mb-5">Brons</h2>
            <ul class="nav  justify-content-center">
        {{#foreach partners}}
        <li class="nav-item d-flex align-items-center {{primary_tag.name}}" style="max-width: 192px;">
            <img src="{{img_url feature_image}}" alt="{{title}}" class="img-fluid nav-link" style="max-height: 96px;" />
        </li>
        {{/foreach}}
    </ul>
{{/get}}

</div>

{{else}}
{{/get}}

