<div class="container">
        <h1 class="text-center mb-3">Talare</h1>
    <div class="row">
            {{#get "posts" filter="tag:speaker" as |speakers|}}
            {{#foreach speakers}}
                {{#if featured}}

                            
                <div class="col-12 text-center mb-5">
                    <h4 class="card-title">{{{title}}}</h4>
                    <p class="card-text" id="desc{{@index}}">{{{excerpt}}}</p>
                </div>
                {{else}}
                <div class="col-12 col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="{{@index}}00" data-aos-anchor-placement="top-center">
                    <div class="card h-100 bg-light">
                        <div class="p-4">
                            <img src="{{img_url feature_image size='m'}}" class="card-img rounded-circle"/>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{{title}}}</h4>
                            <p class="card-text" id="desc{{@index}}">{{{excerpt}}}</p>

                        </div>
                    </div>
                </div>

                {{/if}}
            {{/foreach}}
            {{/get}}
    </div>
</div>